<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.machinery.mall.mapper.OrderMapper">
    <insert id="insertOrder" parameterType="com.machinery.mall.entity.Order" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO orders (order_no, uid, addr_id, amount, type, freight, status, payment_time, delivery_time, finish_time, close_time, created, updated)
        VALUES (#{orderNo}, #{uid}, #{addrId}, #{amount}, #{type}, #{freight}, #{status}, #{paymentTime}, #{deliveryTime}, #{finishTime}, #{closeTime}, #{created}, #{updated})
    </insert>

    <select id="selectOrderById" parameterType="int" resultType="com.machinery.mall.entity.Order">
        SELECT * FROM orders WHERE id = #{id}
    </select>

    <select id="selectOrdersByUserId" parameterType="int" resultType="com.machinery.mall.entity.Order">
        SELECT * FROM orders WHERE uid = #{uid} ORDER BY created DESC
    </select>

    <select id="selectOrderByOrderNo" resultType="com.machinery.mall.entity.Order">
        SELECT * FROM orders WHERE order_no = #{orderNo}
    </select>
</mapper> 