<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.machinery.mall.mapper.OrderItemMapper">
    <insert id="insertOrderItem" parameterType="com.machinery.mall.entity.OrderItem" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO order_items (uid, order_id, goods_id, goods_name, icon_url, price, quantity, total_price, created, updated)
        VALUES (#{uid}, #{orderId}, #{goodsId}, #{goodsName}, #{iconUrl}, #{price}, #{quantity}, #{totalPrice}, #{created}, #{updated})
    </insert>

    <select id="selectItemsByOrderId" parameterType="int" resultType="com.machinery.mall.entity.OrderItem">
        SELECT * FROM order_items WHERE order_id = #{orderId}
    </select>
</mapper> 